::selection {
  background: #3ecf8e;
}

.App {
  background-image: url("./Aqua-Marine.jpg");
  min-height: 100%;
  background-color: aqua;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.habit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  width: 100%;
}

input:focus {
  outline: none;
}

input:checked {
  color: #f57a78;

}

ul {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 80%;
}

ul li {
  /* border: 1px solid black; */
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  padding: 12px 8px 12px 40px;
  width: 30%;
}

@media (max-width: 650px) {
  .habit-container {
    width: 50%;
  }
  ul {
    margin-left: -20px;
  }
  ul li {
    /* border: 1px solid black; */
    width: 90%;
    margin-left: 40px;
  }
  ul li .delete-btn {
    margin-right: 20px;
  }
}

.habit-form {
  display: flex;
}

.habit-checkbox {
  position: relative;
  flex-grow: 0;
  margin-left: -25px;
}

.text {
  flex-grow: 2;
  margin-top: -4px;
  padding-left: 5px;
}

.delete-btn {
  cursor: pointer;
  background-color: #f57a78;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  height: 20px;
  margin-right: 10px;
  position: relative;
  width: 20px;
}

.done {
  text-decoration: line-through;
  color: #c2c2c2;
}
.undone {
  text-decoration: none;
}

#habit-input {
  border-radius: 7px;
  border: none;
  height: 40px;
  font-family: 'Poppins', sans-serif;
  margin-right: 10px;
  width: 250px;
  font-size: 15px;
  padding-left: 15px;
}

#habit-btn {
  background-color: #3ecf8e;
  border: none;
  border-bottom: 5px solid #32a672;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 600;
  height: 45px;
  text-transform: uppercase;
  width: 105px;
}

.text {
  font-weight: 300;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: white;
}

.footer a {
  color: white;
  font-weight: 500;
  text-decoration: none;
}

#made {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 13px;
  font-weight: 300;
}
